

.login
	width: 100%
	height: 95vh
	
	
	&__form
		width: 50%
		height: 50%
		
		max-width: 50rem
		
		max-height: 30rem
		min-height: 25rem
		
		
	&__fields-container
		width: 80%
		
		
	&__fields-row
		
		&:not(:last-child)
			margin-bottom: 2rem
		
		
	&__button
		margin-top: 3rem
		padding: 1.3rem 5rem
		
		background: $color_blue_super_transparent
		color: $color_black_lighten
		
		border-radius: 3rem
		
		transition: all .2s ease-out
		
		
		&:hover    
			background: $color_black
			color: $color_white
			